{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<html>
    <body>
    <body>
        <div class="row">
            <div class="col-md-12">
                <br>
                <h1> Coldplay Discography </h1>
                <hr>
            </div>
        </div>
<!--MESSAGE FLASH -->
        <div class = 'flash'>
        {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li><strong>{{message}}</strong></li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
        </div>


<!-- Song Section -->
        <div class="row text-center">
                <div class="col-md-12">
                {% for song in songs %}
                    <div class = "song-item">
                        <h3>{{song.name}}</h3>
                        <p>Year: {{song.year}}</p>
                        <p>Length: {{song.length}} </p>
                        <p>Genre: {{song.genre}} </p>
                {% endfor %}
                    </div>
                </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>

{% endblock %}
</body>

</html>