{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<html>
    <body>
         <div class="row banner-menu">
          <div class="col-md-11 col-md-offset-1 padding-none">
            <h1 class> {{album.name}}
                    <figure class="creator">
                        <img src="{{ url_for('static', filename = 'blank_user.gif') }}">
                        <figcaption> {{creator.name}}</figcaption>
                    </figure>
            </h1>
          </div>
        </div>
         <hr>
<!--MESSAGE FLASH -->
        {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li><strong>{{message}}</strong></li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
        </div>

    <div class="row padding-top padding-bottom text-center">
         <div class="col-md-12">

            <a href="{{url_for('editAlbum', album_id = album.id)}}">
                <button class="btn btn-default" id="edit-album">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit Album
                </button>
            </a>
            <a href="{{url_for('newSongItem', album_id = album.id)}}">
                <button class="btn btn-default" id="new-song-item">
                    <span class="glyphicon glyphicon-music" aria-hidden="true"></span>Add New Song
                </button>
            </a>
                        <a href="{{url_for('deleteAlbum', album_id = album.id)}}">
                <button class="btn btn-default delete" id="delete-album">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete Album
                </button>
            </a>

        </div>
        <div class="col-md-7"></div>
    </div>
<!-- Song Section -->
        <div class="row text-center">
                <div class="col-md-12">
                {% for i in songs %}
                    <div class = "song-item">
                        <h3>{{i.name}}</h3>
                        <p>Year: {{i.year}}</p>
                        <p>Length: {{i.length}} </p>
                        <p>Genre: {{i.genre}} </p>
                        <a href='{{url_for('editSongItem', album_id = album.id, song_id = i.id) }}'>Edit</a>
                        <a href = '{{url_for('deleteSong', album_id = album.id, song_id = i.id) }}'>Delete</a>
                {% endfor %}
                    </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>

{% endblock %}
</body>

</html>